@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
button{
    background: none;
    border: none;
    border-radius: none;
}
*:focus{
    border: none;
    outline: none;
}

.responsive_image{
    display: block;
    max-width: 100%;
    height: auto;
}
.title{
    width: 100%;
    font-size: 75px;
    margin: 2% auto;
}
.login_form{
	color: #6DD0F6;
}
.login_form:hover{
	color: #6DD0F6;
}
.description_text{
    width: 75%;
    display: block;
    margin: 2% auto;
}

/*------ Buttons -----*/
.button_design{
	padding: 1% 2%;
    display: inline-block;
    
    font-size: 16px;
    font-weight: bold;
    color: white;
    
    border-radius: 10px;
	border: 2px solid #A0E0F6;

	background: #6DD0F6
}
.button_design:hover{
    border: 2px solid #6DD0F6;
	background: #A0E0F6;
}

.disabled_button{
	padding: 1% 2%;
    display: inline-block;

    font-size: 16px;
    font-weight: bold;
    color: white;

    border-radius: 10px;
    border: 2px solid rgb(128, 128, 128);

	background: rgb(186, 186, 186)
}
.disabled_button:hover{
	border: 2px solid rgb(186, 186, 186);
	background: rgb(128, 128, 128);
}
/*--------------------*/

input{
	border: none;
	border-bottom: 2px solid #A0E0F6;
}
input:focus{
	border: none;
	border-bottom: 2px solid #6DD0F6;
}

/*------ Filter -----*/
.filter_search > *{
	display: inline-block;
}
.form-group{
	padding-left: 5%
}
.form-group > label >.fas{
    margin-right: 20%;
    font-size: 20px;
}
.col-form-label{
	margin-right: 5px;
}
button > .fas{
    padding: 5px 5px 0 5px;
	color: white
}

