@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
*:focus{
    border: none;
    outline: none;
}
button{
    background: none;
    border: none;
    border-radius: none;
}
textarea, textarea:focus{
	height: 100px;

	resize: none;
	border: 2px solid #A0E0F6;
}
input{
	border: none;
}
input:focus{
	border: none;
}
/* -- Maknut strelice --*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}

h4, h5{
	margin: 0
}

.input_wrapper{
	white-space: nowrap;
	border-bottom: 2px solid #A0E0F6;
}
.input_wrapper > .fas{width: 10%}
.input_wrapper > input{width: 90%;}

/* --- Random --- */
.subtitles{
	width: 100%;
	border-bottom: black 1px solid;
	text-align: start;
	margin: 2% 0;
}

.responsive_image{
    display: block;
    max-width: 100%;
    height: auto;
}

.login_form{
	color: #6DD0F6;
}
.login_form:hover{
	color: #6DD0F6;
	text-decoration: underline;
}
/*---- Description & title ----*/
.title{
    width: 100%;
    font-size: 75px;
    margin: 2% auto;
}
@media only screen and (max-width: 600px) {
	.title{
		width: 100%;
		font-size: 50px;
		margin: 2% auto;
	}
}
.description{
	text-align: center;
}
.description_text{
    width: 75%;
    display: block;
    margin: 2% auto;
}

/*------ Buttons -----*/
.button_design{
	padding: 1% 2%;
    display: inline-block;
    
    font-size: 16px;
    font-weight: bold;
    color: white;
    
    border-radius: 10px;
	border: 2px solid #A0E0F6;

	background: #6DD0F6
}
.button_design:hover{
	color: white;
    border: 2px solid #6DD0F6;
	background: #A0E0F6;
}

.disabled_button{
	padding: 5px 10px;
    display: inline-block;

    font-size: 16px;
    font-weight: bold;
    color: white;

    border-radius: 10px;
    border: 2px solid rgb(128, 128, 128);

	background: rgb(186, 186, 186)
}
.disabled_button:hover{
	border: 2px solid rgb(186, 186, 186);
	background: rgb(128, 128, 128);
}
.option_buttons{text-align: right;}
.option_buttons > * {display: inline-block;}
/*--------------------*/



/*------ Filter -----*/
.filter_search{
	text-align: right;
	white-space: nowrap;
}
.filter_search > *{
	display: inline-block;
}
.form-group{
	padding-left: 5%
}
.form-group > label >.fas{
    margin-right: 20%;
    font-size: 20px;
}
.col-form-label{
	margin-right: 5px;
}
button > .fas{
    padding: 5px 5px 0 5px;
	color: white
}

/* --- Filter --- */
.dropdown-menu{
	min-width: 250px;
	max-width: 500px;

	border: 2px solid #6DD0F6;
}
.dropdownHeader{
	margin: 0 2%;

	font-weight: bold;
	color: #6DD0F6;
}
.filter_item{
	margin: 5%;
	border-bottom: 2px solid #6DD0F6;
}
.filter_item_tag{
	display: inline-block;
	width: 10%;

	font-size: 1rem;
	text-align: center;
}
.filter_item_input{
	display: inline-block;
	width: 90%;

	border: none
}
.filter_item_input:focus{
	border: none
}

.dropdownFooter{
	text-align: center;
}
.dropdownFooter > button{
	display: inline-block;
	margin: 10px auto;
}
